# Node modules
node_modules/

# Build output
build/

# Dependency directories
jspm_packages/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db



# Misc
.cache/
.vscode/
*.log
*.tgz

# Testing
coverage/
